{% extends "index.html" %}
{% load static %}
{% block title %}
<title>Medicine|injection</title>
{% endblock %}

{% block header %}

<div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i1.jpg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i2.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i3.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">order now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i5.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i6.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i7.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>
  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i9.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i10.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i1.jpg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i2.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i3.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i4.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/i6.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>
  
{% endblock %}