{% extends "index.html" %}

{% load static %}

{% block title %}
<title>Medicine|older-post</title>
{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'assets/img/m3.jpeg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 style="color:navy">Previous Post  And Old Offer</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s2.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s3.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  </div>
  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m7.jpg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m8.jpg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m9.jpg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  </div>
  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m11.jpg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m12.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/m13.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/s4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">stock unavailable</a>
      </div>
    </div>
  </div>
      
{% endblock%}