{% extends "index.html" %}
{% load static %}
{% block title%}
<title>Medicine|home</title>
{% endblock %}

{% block header %}

<div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
  <div class="card col-xl-3">
    <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
    </div>
  </div>

  <div class="card col-xl-3">
    <img src="{% static 'assets/img/s2.jpeg' %}" class="card-img-top" alt="loading..">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
    </div>
  </div>

  <div class="card col-xl-3">
    <img src="{% static 'assets/img/s3.jpeg' %}" class="card-img-top" alt="loading..">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
    </div>
  </div>

  <div class="card col-xl-3">
    <img src="{% static 'assets/img/s4.jpeg' %}" class="card-img-top" alt="loading..">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
    </div>
  </div>
</div>

<div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s5.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s6.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s7.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s9.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s10.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s11.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s12.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s2.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s3.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s5.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s6.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s7.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s9.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s10.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s11.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
        <img src="{% static 'assets/img/s12.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
     <img src="{% static 'assets/img/s1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  
  

{% endblock %}