{% extends "index.html" %}
{% load static %}
{% block title %}
<title>Medicine|tablets</title>
{% endblock %}

{% block header %}

<div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c2.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c3.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">order now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c5.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c6.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c7.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>
  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c2.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c3.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/c4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t1.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t2.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t3.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t4.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>

  <div class="row" style="width:95vw;padding-left:80px; margin-top:100px;">
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t5.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t6.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t7.jpeg' %}" class="card-img-top" alt="loading..">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  
    <div class="card col-xl-3">
      <img src="{% static 'assets/img/t8.jpeg' %}" class="card-img-top" alt="loading..">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'orders' %}" class="btn btn-primary">orders now</a>
      </div>
    </div>
  </div>



{% endblock %}